APP_NAME=kubo-storage-api
APP_HOST=localhost
APP_PORT=4000
APP_MODE=dev

DB_PROTOCOL=mongodb
DB_HOST=localhost
DB_NAME=mallow-sale
DB_USERNAME=root
DB_PASSWORD=123456
DB_PORT=27017
DB_SSL_MODE=
DB_SCHEMA=
DB_QUERY='?authSource=admin'

AWS_ACCESS_KEY_ID=your-r2-access-key-id
AWS_SECRET_ACCESS_KEY=your-r2-secret-access-key
AWS_REGION=auto
STORAGE_BUCKET_NAME
STORAGE_DOMAIN_URL